.App {
    text-align: center;
}

header img {
    width: 50px;
}

.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;

    grid-template-areas:
  "h h"
  "n c"
  "f f"
}

.header-wrapper {
    grid-area: h;
    background-color: rgba(123, 255, 0, 0.6);
}

.nav-wrapper {
    grid-area: n;
    background-color: #bb7935;

    li {
        list-style: none;
    }
}

.content-wrapper {
    grid-area: c;
    background-color: #309fe8;


    img{
    width: 100%;
    }
}

.footer-wrapper {
    grid-area: f;
    background-color: #250909;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}