.dialogs {
    display: grid;
    grid-template-columns:2fr 10fr;
}

.dialog {

}

.dialogUser a{
padding: 10px;
text-decoration: none;
}
.dialogUser a .active{
    color: gold;
}
.messages {
padding: 10px;
}

.message {

}